* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 20px;
  margin: 10px 40px;
  font-weight: lighter;
  
  
}
h1 {
  font-size: 1em;
}
p {
  font-size: 10px;
  margin: 10px 1px;
}
.App {
  align-items: center;
  gap: 20px;

}

#btn {
  padding: 5px;
  margin-bottom: 5px;
}
